/******************************************************
General
*******************************************************/

body {
	font-family: 'Oswald', sans-serif;
}

#wrapper { /****the wrapper centered all the conent within the div wrapper****/
	max-width: 940px; /****this is the max width of the wrapper content***/
	margin: 0 auto; /****the 0 sets the margin on the top and bottom while the auto sets the left and right****/
	padding: 0 5%; /****0 is for top and bottom and 5% is for left and right****/
}

a {
	text-decoration: none; /****removes all underlines from all the links****/
}

img {
	max-width: 100%; /****keeps our images from becoming too large, the images will shrink with the size of the screen****/
}

h3 {
	margin: 0 0 1em 0;
}


/******************************************************
Heading
*******************************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}


#logo {
	text-align: center; /****text-align will center any conent within the id your using****/
	margin: 0; /****0 takes away all spacing around all four sides****/
}

h1 {
	font-family: 'Indie Flower', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 1.00em;
	margin: -5px 0 0;
	font-weight: normal;
}


/******************************************************
Navigation
*******************************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px; /****this adds more space around the links so the user can tap them much easier****/
}


/******************************************************
Footer
*******************************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon { /****here we use the class we created social-icon to style the footer icons****/
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/******************************************************
Page: Portfolio
*******************************************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none; /****this will remove the bullet points from list****/
}

#gallery li {
	float: left; /****the images will float to the left when the screen changes size****/
	width: 45%;
	margin: 2.5%; /****each image has a 2.5% margin on the left and the right****/
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#gallery li a p { /****here we select the gallery id, then inside that we selcect the li, then the a and finally the p****/
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}


/*******************************************************
Page: About
********************************************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 20px;
}


/******************************************************
Page: Contact
*******************************************************/

/****background will change everything in the background like color, content and so on, where as background-image will change only in the image it self****/



.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {  /****this code makes sure the images on the contact page are alligned****/
	display: block;
	min-height: 20px;
	background-repeat: no-repeat; /****the background repeats by default so by using no-repeat it stops the image from repeating itself****/
	background-size: 20px 20px;
	padding: 0 0 0 30px; /****this code gives a 30px pad on the left of each contact detail which in turn makes it look much better and equally spaced from the images****/
	margin: 0 0 10px; /****this code gives a padding space between each contact detail****/
}

.contact-info li.phone a {
	background-image: url('../img/phone.png'); /****the .. allows us to move out of the css folder, up to the main folder and then back down to the img folder and to the exact img needed.****/
}

.contact-info li.mail a {
	background-image: url('../img/mail.png'); 
}

.contact-info li.twitter a {
	background-image: url('../img/twitter.png'); 
}

/*******************************************************
Colors
********************************************************/

/* site body */
body {
	background-color: #fff;
	color:#999;
}

/* blue header */
header {
	background: #66b2ff;
	border-color: #0080ff;
}

/* nav background on mobile */
nav {
	background: #0080ff;
}

/* logo text */
h1, h2 {
	color: #fff;
}

/* link */
a {
	color: #0080ff;
}

/* nav link */
/****here we select the "nav" element then go deeper into the "a" element to change the color of the words to white****/
nav a, nav a:visited { /****here we use the pseudo-class "nav a:visited" to change the anchor link to stay white after they are visited****/
	color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover { /****here I am using the class="selected" that I created and am styling it, I am also selecting two anchors as you can see after the comma****/
	color: #0000ff;
}
