/**** Base Styles ****/
* {
	box-sizing: border-box; /** forces the padding and borders into the width and height into the element instead of expanding it **/
}

body {
	background-color: #1595AF;
	color: #4B5152;
	margin: 0;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* here I include more then one font incase the users browser does not support it. ALso known as a font stack */
	line-height: 1.5; /* gives space between every word in your content to make for a better reading pleasure */
}

h1 {
	font-size: 5.625em; /* 90px/16px=5.625 the font size was 90px but I used the math formula to convert it to em size */
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase; /* changes all text in h1 to upper case, you could also use lowercase and capitalize */
	font-weight: normal;
	line-height: 1.3; /* gives space between the paragraph and the h1 area in your content to make for better spacing  */
	text-shadow: 5px 8px 10px #222; /*gives our main h1 a shadow behind it*/
}

h2 {
	font-size: 53px;
	text-decoration: underline; /* adds an underline to your text */
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: .5em; /* 26px/53px=.5em */
}

h3 {
	font-size: 20px;
	color: #48525c;
	line-height: 1.2;
	margin-bottom: 1.7em; /** 34px/20px=1.7em **/
}

/*this tag targets all img's in the file and allows them to become fluid with screen size changes, also known as responsive imagery*/
img {
	max-width: 100%; 
	margin-bottom: 20px; /*added space between bottom of img's and headers and or content*/
	border-radius: 10px;
}

ul,
ol {
	margin: 30px 0; /*indents the li's*/
}

li {
	margin-bottom: 10px; /*adds space between the bottom and li's*/
}

/**** Class Selectors ****/
.main-header {
	background-color: #ffa949;
	padding-top: 170px;
	height: 850px; /*Enlarged the space between the heading and the content below*/
	background-image: url('../imgLT/mountains.jpg'); /*the ../ means to move out of css directory and down into img directory and then access mountains.jpg*/
	background-size: cover; /*insures our image scales proportionatly to size*/
	background-repeat: no-repeat; /*this controls whether or not the image repeats itself*/
	background-position: center;
	text-shadow: 0 0 5px #be7b31;
}

/** Example of descendant selector **/
.title {
	color: white;
	font-size: 1.625em; /* 26px/16px=1.625 the font-size was 26px but I used the math formula to convert it to em size */
	text-shadow: 1px 3px 0 #e59740;
}

.intro {
	font-size: 1.25em;
	line-height: 1.6;
}

/**** Layout Styles ****/
.primary-content,
.secondary-content {
	width: 75%; /* with the width at 75% it will adjust to any screen size very smoothly */
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	max-width: 960px; /*wont let elements go beyond this size in very large screen sizes*/
}

.primary-content,
.main-header,
.main-footer {
	text-align: center;
}

.primary-content {
	padding-top: 25px;
	padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6;
}

.callout {
	font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
}

.t-border {
	border-top: 2px solid #dfe2e6;
}

/** Stared working with Box model below **/
.wildlife {
	color: white;
	background-color: #434a52;
	padding-top: 18%;
	padding-right: 24%;
	padding-bottom: 18%;
	padding-left: 24%;

	border-top: 10px;
	border-style: solid;
	border-color: #ffa949;

	margin-top: 105px;
	margin-right: 0;
	margin-bottom: 60px;
	margin-left: 0;

	/*beginning here I started to customize the image inside the div*/
	background-image: url('../imgLT/bear.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	box-shadow: 15px 15px 10px rgba(0,0,0, .6); /*adds shadow behind box*/

	/*adds rounded corners to the content*/
	border-radius: 10px;
}
/** Box model ends **/

.arrow {
	width: 50px; /*scalled image down*/
}

/** Floated Columns **/
.resorts,
.tips {
	width: 46.5%;
	box-shadow: 10px 10px 10px rgba(0,0,0, .6); /*adds shadow behind box*/
}

.tips {
	float: right; /*moves .tips to the right of .resorts*/
}

.resorts {
	float: left; /*adjust .resorts so it be placed next to .tips evenly*/
}

/** Float Clearfix **/
.group:after {
	content: "";
	display: table;
	clear: both;
}


/********************************** Pseudo-class selectors below for links **********************************/

/** not visited link **/
a:link {
	color: rgb(255, 169, 73);
	text-decoration: none; /* removes underline from links */
}

/** visited link **/
a:visited {
	color: lightblue;
}

/** mouse hover over link **/
a:hover {
	color: rgba(255, 169, 73, .4);
}

/** activates when you click and unclick links **/
a:active {
	color: lightcoral;
}



/*****************************************  Media Queries  ***************************************************/

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}

	.wildlife{
		padding: 10% 12%;
		margin: 50px 0 20px;
	}

	.resorts,
	.tips {
		width: 46.5%;
		box-shadow: none;
	}
}

@media (max-width: 960px) {
	body {
		background: royalblue;
	}
	p {
		color: white;
	}
	h3 {
		color: black;
	}
	ol,
	li {
		color: white;
	}
}

@media (max-width: 768px) {
	.primary-content,
	.secondary-content {
		width: 100%;
		padding: 20px;
		border: top none;
	}

	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
	}

	.title {
		font-size: 1.3rem;
		border: none;
	}

	h1 {
		font-size: 3.5rem;
		line-height: 1.1;
		text-shadow: none;
	}

	.arrow {
		display: none;
	}

	.intro {
		font-size: 1rem;
	}

	.resorts,
	.tips {
		float: none;
		width: 100%;
	}

	.main-footer {
		padding: 20px 0;
	}
}

@media (min-width: 481px) and (max-width: 700px) {
	body {
		background: seagreen;
	}
	p {
		color: white;
	}
	h3 {
		color: black;
	}
	ol,
	li {
		color: white;
	}
}

@media (max-width: 480px) {
	body {
		background: darkred;
	}
}





